<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <%- include('partials/navbar') %>
</div>

<div class="container">
    <form action="/update-education" method="POST">
        <label>School</label>
        <br>
        <input type="text" placeholder="school" name="school" value="<%= education.school %>">
        <br>
        <label>Course</label>
        <br>
        <input type="text" placeholder="course" name="course" value="<%= education.course %>">
        <br>
        <label>Link</label>
        <br>
        <input type="text" placeholder="website" name="link" value="<%= education.link %>">
        <br>
        <button type="submit">Add</button>
        <input name="educationId" type="text" hidden value="<%= education._id %>" >
    </form>
</div>



</body>
</html>