<%- include('partials/header') %>

<div class="container">
<% if(education !== null) { %>
    <!-- Editing Education Form -->
    <h2 align="center">Editing Education</h2>
    <form action="/admin/update-education" method="POST">
        <label>School</label>
        <br>
        <input type="text" placeholder="school" name="school" value="<%= education.school %>">
        <br>
        <label>Course</label>
        <br>
        <input type="text" placeholder="course" name="course" value="<%= education.course %>">
        <br>
        <label>Link</label>
        <br>
        <input type="text" placeholder="website" name="link" value="<%= education.link %>">
        <br>
        <button class="btn btn-primary" type="submit">Update</button>
        <input name="educationId" type="text" hidden value="<%= education._id %>" >
    </form>

<% } else if (job !== null) { %>
    <h1 align="center">Editing Job</h1>
    <!-- Editing Job Form -->
    <form action="/admin/update-job" method="POST">
        <label>Company</label>
        <br>
        <input type="text" placeholder="Job" name="job" value="<%= job.company %>">
        <br>
        <label>Description</label>
        <br>
        <input type="text" placeholder="Description" name="description" value="<%= job.description %>">
        <br>
        <label>Link</label>
        <br>
        <input type="text" placeholder="Website" name="link" value="<%= job.link %>">
        <br>
        <select name="flag">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br>
        <button class="btn btn-primary" type="submit">Update</button>
        <input name="jobId" type="text" hidden value="<%= job._id %>" >
    </form>

<% } else if (keyword) { %>
    <h1>Editing Tag</h1>

        <form action="/admin/update-tag" method="POST">
            <label>Tag</label>
            <br>
            <input type="text" placeholder="Tag" name="tag" value="<%= keyword.tag %>">
            <br>
            <button class="btn btn-primary" type="submit">Update</button>
            <input name="tagId" type="text" hidden value="<%= keyword._id %>" >
        </form>

    <% } %>
</div>

<%- include('partials/footer') %>